<div class="message"><%= @compliment.message %></div>
<div class="right-content">
  <img src="<%= @compliment.image %>">
  <a href="/compliments">
    <div class="button">
      <p>Are you still sad?</p>
    </div>
  </a>
</div>