<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Complements</title>
    <link href="/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container clearfix">
      <div class="content">
        <%= yield %>
      </div>
      <!-- <a href="/compliments">
        <div class="button">
          <p>Are you still sad?</p>
        </div>
      </a> -->
    </div>
  </body>
</html>