/*#####Fixes#########*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/*#####Styling#########*/

body {
  background-color: linen;
  font-family: helvetica, arial, sans-serif;
  font-size: 35px;
}

.message {
  width: 200px;
  margin: 50px 50px 5px;
  float: left;
  border-right: 5px solid Gray;
  padding: 0 75px 75px 0;
}

.right-content {
  float:left;
  margin: 50px;
}

.button {
  background-color: Gray;
  color: LightGray;
  width: 250px;
  height: 45px;
  font-size: 25px;
  margin: auto;
  border-radius: 25px;
}

.button:hover {
  background-color: LightGray;
  color: Gray;
}

p {
  text-align: center;
  padding-top: 7px;
}

a {
  text-decoration: none
}